[submodule "app/Plugin/AuditLog"]
	path = app/Plugin/AuditLog
	url = git@github.com:microtrain/CakePHP-Audit-Log-Plugin.git
[submodule "app/Plugin/Seo"]
	path = app/Plugin/Seo
	url = git@github.com:microtrain/CakePHP-Seo-Plugin.git
[submodule "app/Plugin/Search"]
	path = app/Plugin/Search
	url = git@github.com:microtrain/search.git
[submodule "app/Plugin/CalendarRecursion"]
	path = app/Plugin/CalendarRecursion
	url = git@github.com:microtrain/CakePHP-CalendarRecursion-Plugin.git
[submodule "app/Plugin/Tags"]
	path = app/Plugin/Tags
	url = git@github.com:microtrain/tags.git
[submodule "CalendarRecursion"]
	path = CalendarRecursion
	url = git@github.com:microtrain/CakePHP-CalendarRecursion-Plugin.git
[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = git@github.com:microtrain/migrations.git
[submodule "app/Plugin/ContentFilters"]
	path = app/Plugin/ContentFilters
	url = git@github.com:microtrain/CakePHP-ContentFilters-Plugin.git
[submodule "app/Plugin/BadBehavior"]
	path = app/Plugin/BadBehavior
	url = git@github.com:microtrain/CakePHP-BadBehavior-Plugin.git
[submodule "Imagine"]
	path = Imagine
	url = git@github.com:microtrain/Imagine.git
[submodule "app/Plugin/Imagine"]
	path = app/Plugin/Imagine
	url = git@github.com:microtrain/Imagine.git
