/nbproject


/app/tmp
/app/Vendor/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/

/app/Config/database.php
/app/Config/email.php
/app/Config/core.php
/app/Config/routes.php
/app/Config/app.php
/app/Config/acl.ini.php
/app/Config/bootstrap.php

/app/Controller/AppTestController.php
/app/View/AppTest



