::-moz-selection { 
    background: #fe57a1; 
    color: #fff;
    text-shadow: none;
}

::selection { 
    background: #fe57a1; 
    color: #fff;
    text-shadow: none;
}

html { 
    padding: 30px 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #555;
    background: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body { 
    max-width: 700px;
    _width: 700px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    background: #fcfcfc;
}

h1 { 
    margin: 0 10px;
    font-size: 30px;
    text-align: center; 
}

h1 span { 
    color: #bbb;
}

h3 { 
    margin: 1.5em 0 0.5em;
}

p { 
    margin: 1em 0;
}

ul {
    padding: 0 0 0 40px;
    margin: 1em 0;
}

.container { 
    max-width: 580px;
    _width: 580px;
    margin: 0 auto;
}

dl {
    font-size: 12px;
}

dl dt {
    font-weight: bold;
}

pre {
    color: #000;
    background: #f0f0f0;
    padding: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

pre, code {
    overflow: auto;
    font-size: 12px;
}

.confirm-button {
    display: inline-block;
    border: 2px solid #fff;
    background-color: #006699;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 20px auto 0px auto;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    border-radius: 5px;
}