# ----------------------------------------------------------------------------------------------------------------------
# SECURITY ENHANCEMENTS
# ----------------------------------------------------------------------------------------------------------------------
# We do not want to allow access to any thing other than allowable images types from the outside world
<FilesMatch "!*\.(gif|png|jpg|jpeg|svg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>